{% load i18n %}
<html>
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

</head>

<body>

{% block navbar %}
<a href='/'>{% trans 'Main' %}</a>
<a href='{% url categories %}'>{% trans 'Categories' %}</a>
<a href='{% url ingredients %}'>{% trans 'Ingredients' %}</a>
<a href='{% url cocktails %}'>{% trans 'Cocktails' %}</a>
<a href='{% url get_widget_code %}'>{% trans 'Get widget code' %}</a>
{% endblock %}

{% block content %}

{% endblock %}

</body>
</html>
