{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ msg }}</h1>


{% if form %}
    <form method="POST" action='.'>
    {{ form }}
    {% csrf_token %}
    <input type="submit">
    </form>
{% endif %}

{% if to_remove %}
    <p>
    {% blocktrans %}
    Are you really want to remove this category
    with all cocktails listed bellow?
    {% endblocktrans %}
    <br/>
    <a href="{% url category_remove id=category.id %}"> {% trans 'Remove' %}</a>
    <a href="{% url categories %}"> {% trans 'Return to categories list' %}</a>
    </p>
    <br/>

{% endif %}


{% if category %}
    {% trans 'Category' %}: {{ category }}
{% endif %}




{% if category.cocktail_set.all %}
    <h3>{% trans 'List of cocktails of this category' %}</h3>
    <ul>
    {% for cocktail in category.cocktail_set.all %}
        <li>{{ cocktail }}</li>
    {% endfor %}
    </ul>
{% else %}
    <h3>{% trans 'There are no cocktails in this category' %}</h3>
{% endif %}

{% endblock %}
