{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ msg }}</h1>


<a href="{% url category_add %}"> {% trans 'Add category' %}</a>

<ul>
{% for category in categories %}
    <li>
        <a href="{% url category_show id=category.id %}"> {{ category }}</a>
        <a href="{% url category_show_remove to_remove=1 id=category.id %}"> {% trans 'Remove' %}</a>
        <a href="{% url category_edit id=category.id %}"> {% trans 'Edit' %}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
