{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ msg }}</h1>


<a href="{% url cocktail_add %}"> {% trans 'Add cocktail' %}</a>

<ul>
{% for cocktail in cocktails %}
    <li>
        <a href="{% url cocktail_show id=cocktail.id %}">{{ cocktail }}</a> 
        <a href="{% url cocktail_remove id=cocktail.id %}"> {% trans 'Remove' %}</a>
        <a href="{% url cocktail_edit id=cocktail.id %}"> {% trans 'Edit' %}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
