{% extends 'base.html' %}
{% load i18n %}

{% block content %}


<script src="http://django-dynamic-formset.googlecode.com/svn/trunk/src/jquery.formset.min.js"></script>


    <script type="text/javascript">
    <!--
           $(function() {
               $('#cocktail_form .ingredients_formset:last').formset({});
           })
    //-->
    </script>

<h1>{{ msg }}</h1>
{% if form %}
    <form method="POST" action='.' id="cocktail_form">
    {{ ingredients_formset.management_form }}
    {{ form.management_form }}

    <table id="">
    {{ form.as_table }}
    </table>

    {% for ingredients_form in ingredients_formset %}
        <table class="ingredients_formset">
            {{ ingredients_form.as_table }}
        </table>
    {% endfor %}

    <br/>
    <br/>
    {% csrf_token %}
    <input type="submit">
    </form>
{% endif %}


{% if cocktail and not form %}
    <b>{{ cocktail.title }}</b>
    <br/>
    {{ cocktail.description }}
    <br/>
    <br/>
    {% trans 'ingredients:' %}
    {% for ingredient_count in cocktail.cocktail_counts.all %}
        {{ ingredient_count.count }} {{ ingredient_count.ingredient.title }}{% if not forloop.last %}, {% endif %}
    {% endfor %}

{% endif %}




{% endblock %}
