{% extends 'base.html' %}

{% block content %}

<br/>
<br/>
<br/>
<script type="text/javascript"></script>
<textarea rows=30 cols=80>
<div id="cocktail_widget"></div>
<script type="text/javascript">
    cocktail_server = "http://{{ current_domain }}";
  (function() {
    var cs = document.createElement('script');
    cs.setAttribute('async', 'true');
    cs.type = 'text/javascript';
    cs.src = "http://{{ current_domain }}{{ STATIC_URL }}js/widget.js";
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(cs, s);

  })();

</script>
</textarea>
{% endblock %}
