{% extends 'base.html' %}

{% block content %}

<br/>
<br/>
<br/>

<div id="cocktail_widget"></div>
<script type="text/javascript">
    cocktail_server = "http://127.0.0.1:8816";
  (function() {
    var cs = document.createElement('script');
    cs.setAttribute('async', 'true');
    cs.type = 'text/javascript';
    cs.src = "http://127.0.0.1:8816/static/js/widget.js";
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(cs, s);

  })();

</script>


{% endblock %}
