{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ msg }}</h1>
{% if form %}
    <form method="POST" action='.'>
    {{ form }}
    {% csrf_token %}
    <input type="submit">
    </form>
{% endif %}

{% if to_remove %}
    <p>
    {% blocktrans %}
    Are you really want to remove this ingredient
    with all cocktails listed bellow?
    {% endblocktrans %}
    <br/>
    <a href="{% url ingredient_remove id=ingredient.id %}"> {% trans 'Remove' %}</a>
    <a href="{% url ingredients %}"> {% trans 'Return to ingredients list' %}</a>
    </p>
    <br/>

{% endif %}


{% if ingredient %}
    {% trans 'Ingredient' %}: {{ ingredient }}
{% endif %}
<br/>
{% if ingredient.cocktail_set.all %}
<h3>{% trans 'List of cocktails' %}</h3>
<ul>
{% for cocktail in ingredient.cocktail_set.all %}
    <li>{{ cocktail }}</li>
{% endfor %}
</ul>
{% else %}
    {% trans 'There are no cocktails found for this ingredient' %}
{% endif %}

{% endblock %}
