{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ msg }}</h1>


<a href="{% url ingredient_add %}"> {% trans 'Add ingredient' %}</a>

<ul>
{% for ingredient in ingredients %}
    <li>
        <a href="{% url ingredient_show id=ingredient.id %}">{{ ingredient }}</a>
        <a href="{% url ingredient_show_remove to_remove=1 id=ingredient.id %}"> {% trans 'Remove' %}</a>
        <a href="{% url ingredient_edit id=ingredient.id %}"> {% trans 'Edit' %}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
