{% load i18n %}
<style>
    .cocktail_box{
        width: 300px;
        height:300px;
        background:wheat;
    }
</style>

<div class="cocktail_box">
{% if data %}
    <b>{{ data.title }}</b>
    <br>
    {{ data.description }}
    <br/>
    <br/>
    {% trans 'ingredients:' %}
    {% for ingredient in data.ingredients %}
        {{ ingredient }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br/>
    <br/>
    {% trans "source:" %} {{ data.source }}
{% else %}
    {{ error }}
{% endif %}
<input type="button" id="show_more_cocktails" value="Next random coktail, please!"/>
</div>

